# Ganti nilai di bawah ini dengan kredensial dari Firebase Console Anda
# (Project Settings > General > Your apps > SDK setup and configuration > Config)

VITE_FIREBASE_API_KEY=AIzaSy...
VITE_FIREBASE_AUTH_DOMAIN=guru-rj-app.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=guru-rj-app
VITE_FIREBASE_STORAGE_BUCKET=guru-rj-app.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=1029384756
VITE_FIREBASE_APP_ID=1:1029384756:web:abcdef123456
